<!DOCTYPE html>
<html lang="en">
<head>
	<title>Unicare - Free Bootstrap 4 Template by Colorlib</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/animatescrap.css">
	
	<link rel="stylesheet" href="/stylesheets/owl.corousel.min.css">
	<link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
	<link rel="stylesheet" href="/stylesheets/magnific-pop.css">


	<link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/stylesheets/jquery.timepicker.css">

	<link rel="stylesheet" href="/stylesheets/flaticon.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
<style type="text/css">
	 .carousel-inner img {
    width: 100%;
    height: 100%;
  }
</style>

</head>
<body id="home">

	<div class="wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 d-flex align-items-center">
					<p class="mb-0 phone pl-md-2">
						<!-- <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +00 1234 567</a> 
						<a href="#"><span class="fa fa-paper-plane mr-1"></span> youremail@email.com</a> -->
					</p>
				</div>
				<div class="col-md-6 d-flex justify-content-md-end">
					<div class="social-media">
						<p class="mb-0 d-flex">
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html">ADITYA HOSTELS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="#home" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="#about" class="nav-link">About</a></li>
					<!-- <li class="nav-item"><a href="volunteer.html" class="nav-link">Volunteer</a></li> -->
					<!-- <li class="nav-item"><a href="causes.html" class="nav-link">Causes</a></li> -->
					<li class="nav-item"><a href="#gallery" class="nav-link">Gallery</a></li>
					<li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
					<div class="dropdown">
					<li class="nav-item cta  btn dropdown-toggle" type="button" data-toggle="dropdown"><a style="border:2px;padding: 10px 20px;color:#18a577;background-color: #212529;border-radius: 10%;" href="#" class="nav-link">Login</a></li>
					<ul class="dropdown-menu">
						    <li><a href="/admin_warden">admin/warden</a></li>
						    <li><a href="/studentlogin">student</a></li>
						    <!-- <li><a href="#">JavaScript</a></li> -->
					</ul>
				</div>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->
	
	<section class="hero-wrap js-fullheight">
		<div class="home-slider js-fullheight owl-carousel">
			<div class="slider-item js-fullheight" style="background-image:url(/images/chairman.jpg);">
				<div class="overlay-1"></div><div class="overlay-2"></div><div class="overlay-3"></div><div class="overlay-4"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center">
						<div class="col-md-10 col-lg-7 ftco-animate">
							<div class="text w-100">
								<h2>"Anandhamayo Jnanamayo Vignanamayo Adithyaha"</h2>
								<h1 class="mb-3">"leave home crying leave hostel crying again life between two crys"</h1>
								<div class="d-flex meta">
									<div class=""><p class="mb-0"><a href="#" class="btn btn-secondary py-3 px-2 px-md-4">Know More</a></p></div>
									<a href="#" class="d-flex align-items-center button-link">
										<div class="button-video d-flex align-items-center justify-content-center">
											<span class="fa fa-play"></span>
										</div>
										<span>Watch our video</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item js-fullheight" style="background-image:url(/images/sports2.jpg);">
				<div class="overlay-1"></div><div class="overlay-2"></div><div class="overlay-3"></div><div class="overlay-4"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center">
						<div class="col-md-10 col-lg-7 ftco-animate">
							<div class="text w-100">
								<h2>ADITYA HOSTELS </h2>
								<h1 class="mb-3">Lead a memorable life</h1>
								<div class="d-flex meta">
									<div class=""><p class="mb-0"><a href="#" class="btn btn-secondary py-3 px-2 px-md-4">Know More</a></p></div>
									<a href="#" class="d-flex align-items-center button-link">
										<div class="button-video d-flex align-items-center justify-content-center">
											<span class="fa fa-play"></span>
										</div>
										<span>Watch our video</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item js-fullheight" style="background-image:url(/images/malupu.jpg);">
				<div class="overlay-1"></div><div class="overlay-2"></div><div class="overlay-3"></div><div class="overlay-4"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center">
						<div class="col-md-10 col-lg-7 ftco-animate">
							<div class="text w-100">
								<h2>Aditya's Pride</h2>
								<h1 class="mb-3">Keep Up your Talents</h1>
								<div class="d-flex meta">
									<div class=""><p class="mb-0"><a href="#" class="btn btn-secondary py-3 px-2 px-md-4">Know More</a></p></div>
									<a href="#" class="d-flex align-items-center button-link">
										<div class="button-video d-flex align-items-center justify-content-center">
											<span class="fa fa-play"></span>
										</div>
										<span>Watch our video</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section ftco-no-pt ftco-no-pb" id="about">
 <div class="container">
  <div class="row d-flex no-gutters">
   <div class="col-md-6 d-flex order-md-last">
    <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center  mb-sm-0" style="background-image:url(/images/acoebg.jpeg);background-repeat:no-repeat;background-size: cover;background-position: center;">
    </div>
  </div>
  <div class="col-md-6 pr-md-5 py-md-5">
    <div class="heading-section pt-md-5 mb-4" style="float: right;">
     <span class="subheading">About us</span>
     <h2 class="mb-2">ADITYA<br>HOSTELS</h2>
     <p>Comfortable, offering personal care in hygienic conditions, individual grooming and counseling, the hostels at Aditya have all the features the make them home away from home for hundreds of residents from across the country and foreign countries. Aditya provides a separate hostel facility for boys and girls each with all the modern facilities, for boarding and other recreational activities.</p>

<p>They are aesthetically designed with marble flooring, spacious rooms with individual wardrobes, attached washrooms and offer natural ventilation in abundance and lush green landscaped surroundings. Bothe the boys and girls hostel are located on the campus and are very close to the academic complex. Each hostel block is supervised by a resident warden who closely monitors the activities of students and addresses their needs. With students from various states and countries the hostels truly reflect cultural diversity which gives an opportunity for students to improve their interpersonal communication skills.</p>
<ul>
	<h2>Features</h2>
	<li>Fully equipped gym</li>
<li>Separate courts for Volleyball, Basketball, Cricket, Hockey and Badminton</li>
<li>An exclusive library with digital and multimedia facility, newspapers, magazines, journals, books related to academics and competitive exams like GRE, GATE etc.</li>
<li>Resident faculty who addresses the personal and academic needs of students in their respective blocks</li>
<li>Large dining halls and a myriad of options in food keeping in view the various cultural backgrounds of the students</li>
<li>Solar water heating systems in each hostel for hot water</li>
<li>Water coolers in every block</li>
<li>Tie-ups with multispecialty hospitals which provide adequate health facilities to students</li>
<li>Wi-Fi and LAN connectivity</li>
<li>Banking facility with 5 ATMs is available to the students for money transactions</li>
</ul>
     <p><a href="#" class="btn btn-secondary">Explore More</a></p>
   </div>
   <div class="col-md-6" style="background-image: url('/images/adityabg.jpg');background-attachment: fixed;background-repeat: no-repeat;background-size: cover;float: right;">
   	
   </div>
 </div>
</div>
</div>
</section>

<!-- 	<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 order-md-last d-flex align-items-stretch">
					<div class="donation-wrap">
						<div class="total-donate d-flex align-items-center">
							<span class="fa flaticon-cleaning"></span>
							<h4>Donation Campaign <br>are running</h4>
							<p class="d-flex align-items-center">
								<span>$</span>
								<span class="number" data-number="24781">0</span>
							</p>
						</div>
						<form action="#" class="appointment">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="name">Full Name</label>
										<div class="input-wrap">
											<div class="icon"><span class="fa fa-user"></span></div>
											<input type="text" class="form-control" placeholder="">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="name">Email Address</label>
										<div class="input-wrap">
											<div class="icon"><span class="fa fa-paper-plane"></span></div>
											<input type="email" class="form-control" placeholder="">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="name">Select Causes</label>
										<div class="form-field">
											<div class="select-wrap">
												<div class="icon"><span class="fa fa-chevron-down"></span></div>
												<select name="" id="" class="form-control">
													<option value=""></option>
													<option value="">House Washing</option>
													<option value="">Roof Cleaning</option>
													<option value="">Driveway Cleaning</option>
													<option value="">Gutter Cleaning</option>
													<option value="">Patio Cleaning</option>
													<option value="">Building Cleaning</option>
													<option value="">Concrete Cleaning</option>
													<option value="">Sidewal Cleaning</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="name">Amount</label>
										<div class="input-wrap">
											<div class="icon"><span class="fa fa-money"></span></div>
											<input type="text" class="form-control" placeholder="$5">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="name">Payment Method</label>
										<div class="d-lg-flex">
											<div class="form-radio mr-3">
												<div class="radio">
													<label>
														<input type="radio" name="radio-input" checked>
														<span class="checkmark"></span>
														<span class="fill-control-description">Credit Card</span>
													</label>
												</div>
											</div>
											<div class="form-radio mr-3">
												<div class="radio">
													<label>
														<input type="radio" name="radio-input">
														<span class="checkmark"></span>
														<span class="fill-control-description">Paypal</span>
													</label>
												</div>
											</div>
											<div class="form-radio">
												<div class="radio">
													<label>
														<input type="radio" name="radio-input">
														<span class="checkmark"></span>
														<span class="fill-control-description">Payoneer</span>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Donate Now" class="btn btn-secondary py-3 px-4">
									</div>
								</div>
							</div>
						</form> 
					</div>
				</div>
				<div class="col-md-7 wrap-about py-5">
					<div class="heading-section pr-md-5 pt-md-5">
						<span class="subheading">Welcome to unicare</span>
						<h2 class="mb-4">We are here to help everyone in need</h2>
						<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					</div>
					<div class="row my-md-5">
						<div class="col-md-6 d-flex counter-wrap">
							<div class="block-18 d-flex">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="flaticon-volunteer"></span>
								</div>
								<div class="desc">
									<div class="text">
										<strong class="number" data-number="50">0</strong>
									</div>
									<div class="text">
										<span>Volunteers</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 d-flex counter-wrap">
							<div class="block-18 d-flex">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="flaticon-piggy-bank"></span>
								</div>
								<div class="desc">
									<div class="text">
										<strong class="number" data-number="24400">0</strong>
									</div>
									<div class="text">
										<span>Trusted Funds</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<p><a href="#" class="btn btn-secondary btn-outline-secondary">Become A Volunteer</a></p>
				</div>
			</div>
		</div>
	</section> -->

	<!-- <section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-3 d-flex align-items-stretch">
					<div class="services">
						<div class="text text-center bg-secondary">
							<h3>Become a <br>Volunteer</h3>
							<p>But nothing the copy said could convince her and so it didn’t take long until a few</p>
						</div>
						<div class="img border-2" style="background-image: url(images/services-1.jpg);">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-volunteer"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-items-stretch">
					<div class="services">
						<div class="text text-center bg-tertiary">
							<h3>Quick <br>Fundraising</h3>
							<p>But nothing the copy said could convince her and so it didn’t take long until a few</p>
						</div>
						<div class="img border-3" style="background-image: url(images/services-2.jpg);">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-piggy-bank"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-items-stretch">
					<div class="services">
						<div class="text text-center bg-primary">
							<h3>Start <br>Donating</h3>
							<p>But nothing the copy said could convince her and so it didn’t take long until a few</p>
						</div>
						<div class="img border-1" style="background-image: url(images/services-3.jpg);">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-donation"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-items-stretch">
					<div class="services">
						<div class="text text-center bg-quarternary">
							<h3>Get <br>Involved</h3>
							<p>But nothing the copy said could convince her and so it didn’t take long until a few</p>
						</div>
						<div class="img border-4" style="background-image: url(images/services-4.jpg);">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ecological"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
 -->
<!-- 	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<span class="subheading">Our Causes</span>
					<h2>Donate to charity causes around the world</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3">
					<div class="causes causes-2 text-center ftco-animate">
						<a href="#" class="img w-100" style="background-image: url(images/causes-1.jpg);"></a>
						<div class="text p-3">
							<h2><a href="#">Save the poor children from hunger</a></h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
							<div class="goal mb-4">
								<p><span>$3,800</span> to go</p>
								<div class="progress" style="height:20px">
									<div class="progress-bar progress-bar-striped" style="width:70%; height:20px">70%</div>
								</div>
							</div>
							<p><a href="#" class="btn btn-light w-100">Donate Now</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="causes causes-2 text-center ftco-animate">
						<a href="#" class="img w-100" style="background-image: url(images/causes-2.jpg);"></a>
						<div class="text p-3">
							<h2><a href="#">Save the poor children from hunger</a></h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
							<div class="goal mb-4">
								<p><span>$3,800</span> to go</p>
								<div class="progress" style="height:20px">
									<div class="progress-bar progress-bar-striped" style="width:82%; height:20px">82%</div>
								</div>
							</div>
							<p><a href="#" class="btn btn-light w-100">Donate Now</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="causes causes-2 text-center ftco-animate">
						<a href="#" class="img w-100" style="background-image: url(images/causes-3.jpg);"></a>
						<div class="text p-3">
							<h2><a href="#">Save the poor children from hunger</a></h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
							<div class="goal mb-4">
								<p><span>$3,800</span> to go</p>
								<div class="progress" style="height:20px">
									<div class="progress-bar progress-bar-striped" style="width:95%; height:20px">95%</div>
								</div>
							</div>
							<p><a href="#" class="btn btn-light w-100">Donate Now</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="causes causes-2 text-center ftco-animate">
						<a href="#" class="img w-100" style="background-image: url(images/causes-4.jpg);"></a>
						<div class="text p-3">
							<h2><a href="#">Save the poor children from hunger</a></h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
							<div class="goal mb-4">
								<p><span>$3,800</span> to go</p>
								<div class="progress" style="height:20px">
									<div class="progress-bar progress-bar-striped" style="width:75%; height:20px">75%</div>
								</div>
							</div>
							<p><a href="#" class="btn btn-light w-100">Donate Now</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- 
	<section class="ftco-counter" id="section-counter">
		<div class="container">
			<div class="row">
				<div class="col-md-3 mb-5 mb-md-0 text-center text-md-left">
					<h2 class="font-weight-bold" style="color: #fff; font-size: 22px;">We're on a mission to help all your problems</h2>
					<a href="#" class="btn btn-white btn-outline-white">Donate Now</a>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="88984">0</strong>
								</div>
								<div class="text">
									<span>Donation Campaigns are running</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="65000">0</strong>
								</div>
								<div class="text">
									<span>Professional and kind volunteers</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="77000">0</strong>
								</div>
								<div class="text">
									<span>Funds we raised till now on site</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="50">0</strong>
								</div>
								<div class="text">
									<span>Dedicated Donors</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<!-- <section class="ftco-section testimony-section">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
					<span class="subheading">Testimony</span>
					<h2>Happy Clients &amp; Feedbacks</h2>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img" style="background-image: url(images/person_1.jpg)">
								</div>
								<div class="text pl-4">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
									<p class="rate">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
									<p class="name">Racky Henderson</p>
									<span class="position">Father</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img" style="background-image: url(images/person_2.jpg)">
								</div>
								<div class="text pl-4">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
									<p class="rate">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
									<p class="name">Henry Dee</p>
									<span class="position">Businesswoman</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img" style="background-image: url(images/person_3.jpg)">
								</div>
								<div class="text pl-4">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
									<p class="rate">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
									<p class="name">Mark Huff</p>
									<span class="position">Businesswoman</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img" style="background-image: url(images/person_4.jpg)">
								</div>
								<div class="text pl-4">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
									<p class="rate">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
									<p class="name">Benjie Busk Jr.</p>
									<span class="position">Businesswoman</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex">
								<div class="user-img" style="background-image: url(images/person_1.jpg)">
								</div>
								<div class="text pl-4">
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="fa fa-quote-left"></i>
									</span>
									<p class="rate">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p>Far far away, behind the word mountains, far from the countries Vokalia</p>
									<p class="name">Ken Bosh</p>
									<span class="position">Businesswoman</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<!-- <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<span class="subheading">Our Blog</span>
					<h2>Latest news from our blog</h2>
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta mb-2">
								<div><a href="#">July 20, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<h3 class="heading"><a href="#">Foods &amp; Water Need in Africa</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
							<p><a href="#" class="btn btn-secondary">Read more</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta mb-2">
								<div><a href="#">July 20, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<h3 class="heading"><a href="#">Foods &amp; Water Need in Africa</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
							<p><a href="#" class="btn btn-secondary">Read more</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta mb-2">
								<div><a href="#">July 20, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<h3 class="heading"><a href="#">Foods &amp; Water Need in Africa</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
							<p><a href="#" class="btn btn-secondary">Read more</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="blog-entry align-self-stretch">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_4.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta mb-2">
								<div><a href="#">July 20, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<h3 class="heading"><a href="#">Foods &amp; Water Need in Africa</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
							<p><a href="#" class="btn btn-secondary">Read more</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->


	<section class="ftco-section ftco-no-pt" id="gallery">
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<span class="subheading">Volunteer</span>
					<h2>Our Expert Volunteer</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3">
					<div class="volunteer">
						<div class="img" style="background-image: url(/images/AF1.jpg);"></div>
						<div class="text text-1">


                   <!-- gallery first box model      starts here-------------------------------------------------------------- -->


 <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">AF Gallery</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="view.jpeg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>



                  <!-- gallery first box model ends here------------------------------------ -->






							<!-- <h3 ><a style="color: rgba(255, 255, 255, 0.7); " href="#">AF</a></h3>
							<span >Gallery</span> -->
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="volunteer">
						<div class="img" style="background-image: url(/images/sports1.jpg);"></div>
						<div class="text text-2">


                      <!-- gallery second box model starts here  ----------------------------------- -->


 <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">Sports</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="view.jpeg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>









<!--                       gallery second box model ends here------------------------------------- -->

							<!-- <h3 ><a style="color: rgba(255, 255, 255, 0.7); " href="#">Sports</a></h3>
							<span >Gallery</span> -->
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="volunteer">
						<div class="img" style="background-image: url(/images/plvm1.jpg);"></div>
						<div class="text text-3">


             <!-- gallery third box model starts here  ----------------------------------- -->


 <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">Culturals</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="view.jpeg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>









<!--                       gallery third box model ends here------------------------------------- -->




							<!-- <h3 ><a style="color: rgba(255, 255, 255, 0.7); " href="#">Culturals</a></h3>
							<span>Gallery</span> -->
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="volunteer">
						<div class="img" style="background-image: url(/images/ganesh1.jpg);"></div>
						<div class="text text-4">




 <!-- gallery fourth box model starts here  ----------------------------------- -->


 <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">Ganesh Chaturthi</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="view.jpeg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>









<!--                       gallery fourth box model ends here------------------------------------- -->













							<!-- <h3 ><a style="color: rgba(255, 255, 255, 0.7); " href="#">Ganesh Chaturthi</a></h3>
							<span>Gallery</span> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <section class="ftco-hireme bg-secondary">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-8 col-lg-8 d-flex align-items-center">
					<div class="w-100">
						<h2>Best Way to Make a Difference in the Lives of Others</h2>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 d-flex align-items-center justify-content-end">
					<p class="mb-0"><a href="#" class="btn btn-primary py-3 px-4">Become A Volunteer</a></p>
				</div>
			</div>
		</div>
	</section> -->


	<footer class="footer" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
					<h2 class="footer-heading">ADITYA HOSTELS</h2>
					<p>Join aditya's Family</p>
					<ul class="ftco-footer-social p-0">
						<li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
					</ul>
					<p><a href="#home" class="btn btn-quarternary">Login</a></p>
				</div>
				<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
					<h2 class="footer-heading">Latest Events</h2>
					<div class="block-21 mb-4 d-flex">
						<a class="img mr-4 rounded" style="background-image: url(images/image_1.jpg);"></a>
						<div class="text">
							<h3 class="heading"><a href="#">ONAM(2k20)</a></h3>
							<div class="meta">
								<div><a href="#">Aug 20, 2020</a></div>
								<!-- <div><a href="#"></a></div> -->
								<!-- <div><a href="#"></a></div> -->
							</div>
						</div>
					</div>
					<div class="block-21 mb-4 d-flex">
						<a class="img mr-4 rounded" style="background-image: url(images/image_2.jpg);"></a>
						<div class="text">
							<h3 class="heading"><a href="#">Aditya Fairwell 2k20(AF)</a></h3>
							<div class="meta">
								<div><a href="#">Feb 15, 2020</a></div>
								<!-- <div><a href="#">Admin</a></div> -->
								<!-- <div><a href="#">19</a></div> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
					<h2 class="footer-heading">Quick Links</h2>
					<ul class="list-unstyled">
						<li><a href="#home" class="py-2 d-block">Home</a></li>
						<li><a href="#about" class="py-2 d-block">About</a></li>
						<!-- <li><a href="#" class="py-2 d-block">Login</a></li> -->
						<!-- <li><a href="#" class="py-2 d-block">New Campaigns</a></li> -->
						<li><a href="#gallery" class="py-2 d-block">Gallery</a></li>
						<li><a href="#contact" class="py-2 d-block">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
					<h2 class="footer-heading">Have a Questions?</h2>
					<div class="block-23 mb-3">
						<ul>
							<li><span class="icon fa fa-map"></span><span class="text">Aditya Educational Institutions,surampalem,East Godavari<br>pin no:533437</span></li>
							<li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+91 9381902689</span></a></li>
							<li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">adityahostels.edu.in</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-12 text-center">
<!-- 
					<p class="copyright"> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<!--  &copy;<script>document.write(new Date().getFullYear());</script><i class="fa fa-heart" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank"></a> -->
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.</p> -->
					</div>
				</div>
			</div>
		</footer>

		
		

		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/jquery-migrate-3.0.1.min.js"></script>
		<script src="/javascripts/popper.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/jquery.easing.1.3.js"></script>
		<script src="/javascripts/jquery.waypoints.min.js"></script>
		<script src="/javascripts/jquery.stellar.min.js"></script>
		<script src="/javascripts/jquery.animateNumber.min.js"></script>
		<script src="/javascripts/bootstrap-datepicker.js"></script>
		<script src="/javascripts/jquery.timepicker.min.js"></script>
		<script src="/javascripts/owl.carousel.min.js"></script>
		<script src="/javascripts/jquery.magnific-popup.min.js"></script>
		<script src="/javascripts/scrollax.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="/javascripts/google-map.js"></script>
		<script src="/javascripts/main.js"></script>
		
	</body>
	</html>